# Standard libraries
python-dotenv
datetime
# Datasets and libraries
datasets
transformers
requests
scikit-learn
Pillow
torchvision

# Models and pipelines
peft
bitsandbytes
accelerate

# Model tokenization
sentencepiece